@media screen and (max-width: 1400px) {
  main {
    section {
      &.slide {
        padding-top: 30vw;
        height: 100vh;
        .box {
          .text-wrap {
            .text {
              font-size: 9vw;
            }
          }
          .swiper {
            .swiper-slide {
              img {
                width: 80vw;
              }
            }
          }
        }
      }
      &.phrases {
        .text {
          .sub-title {
            font-size: 3.5vw;
          }
          .title {
            font-size: 10vw;
          }
        }
        .dot {
          &.dot-1 {
            img {
              width: 35vw;
            }
          }
          &.dot-2 {
            img {
              width: 20vw;
            }
          }
          &.dot-3 {
            img {
              width: 5vw;
            }
          }
        }
      }
      &.drawing {
        .text {
          width: 70vw;
          .sub-title {
            font-size: 3vw;
          }
          .title {
            font-size: 5.5vw;
          }
        }
        .bg {

        }
      }
      &.playground {
        .text {
          .title {
            width: 55vw;
            font-size: 5.5vw;
            margin: 0 auto;
            margin-bottom: 50px;
          }
          .content {
            width: 60vw;
            margin: 0 auto;
          }
        }
        .block {
          &.block-square {
            left: -3%;
            .photo-wrap {
              width: 40vw;
              height: 40vw;
            }
            .line {
              width: 40vw;
              height: 40vw;
            }
          }
          &.block-circle {
            right: -10%;
            top: 30%;
            .photo-wrap {
              width: 40vw;
              height: 40vw;
            }
            .line {
              width: 40vw;
              height: 40vw;
              left: 5px;
              bottom: -40px;
            }
          }
          &.block-house {
            bottom: 12%;
            .photo-wrap {
              width: 50vw;
              height: 45vw;
            }
            .line {
              width: 45vw;
              height: 40vw;
            }
          }
        }
      }
      &.drinks {
        .text {
          .title {
            font-size: 5.5vw;
          }
        }
      }
      &.app {
        padding-top: 30vw;
        .text {
          margin-bottom: 17vw;
          .title {
            font-size: 5.5vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {

}
