
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap');
//font-family: 'Cormorant SC', serif;

@font-face {
  font-family: HGGGOTHICSSI80G;
  src: url(../font/HGGGOTHICSSI80G.TTF) format('truetype');
}
@font-face {
  font-family: 'mont_blanc-thin';
  src: url('../font/mont_blanc_thin-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont_blanc-light';
  src: url('../font/mont_blanc_light-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont_blanc-regular';
  src: url('../font/mont_blanc_regular-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont_blanc-semibold';
  src: url('../font/mont_blanc_semibold-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont_blanc-bold';
  src: url('../font/mont_blanc_bold-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'mont_blanc-black';
  src: url('../font/mont_blanc_black-webfont.woff2') format('woff2'),
  url('../font/mont_blanc_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$pink: #F6748D;
$light-gray: rgba(239, 239, 236, 1);
$white: #fff;
$black: #000;
$semi-black: #2b2b28;
$ivory: #F0EBE3;
//$blue: #3330E4;
$yellow: #FAEA48;
$grayish-blue: #7D9D9C;
$sky-blue : #789ed0;

html {
  position: relative;
  overflow-x: hidden;
}
body {
  //font-family: 'HGGGOTHICSSI80G', 'sans-serif', 돋움, Dotum, 굴림, Gulim, Verdana, Arial, sans-serif;
  font-family: 'mont_blanc-light', 'sans-serif', 돋움, Dotum, 굴림, Gulim, Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  cursor: none;
  position: relative;
  overflow-x: hidden;
  &.theme-1 {
    background: $white;
    color: $black;
    a {
      color: $black;
    }
    header.active {
      background: $white;
    }
    .tag {
      border: 1px solid $black !important;
    }
    .contact {
      .block {
        border-top: 1px solid $black !important;
        border-bottom: 1px solid $black !important;
      }
    }
    .cursor {
      background: $black;
      &.active {
        background: transparent;
        border: 1px solid $black !important;
      }
    }
  }
  &.theme-2 {
    background: $light-gray;
    color: $pink;
    a {
      color: $pink;
    }
    header.active {
      background: $light-gray;
    }
    .tag {
      border: 1px solid $pink !important;
    }
    .contact {
      .block {
        border-top: 1px solid $pink !important;
        border-bottom: 1px solid $pink !important;
      }
    }
    .cursor {
      background: $pink;
      &.active {
        background: transparent;
        border: 1px solid $pink !important;
      }
    }
  }
  &.theme-3 {
    background: $grayish-blue;
    color: $ivory;
    a {
      color: $ivory;
    }
    header.active {
      background: $grayish-blue;
    }
    .tag {
      border: 1px solid $ivory !important;
    }
    .contact {
      .block {
        border-top: 1px solid $ivory !important;
        border-bottom: 1px solid $ivory !important;
      }
    }
    .cursor {
      background: $ivory;
      &.active {
        background: transparent;
        border: 1px solid $ivory !important;
      }
    }
  }
  &.theme-4 {
    background: $semi-black;
    color: $yellow;
    a {
      color: $yellow;
    }
    header.active {
      background: $semi-black;
    }
    .tag {
      border: 1px solid $yellow !important;
    }
    .contact {
      .block {
        border-top: 1px solid $yellow !important;
        border-bottom: 1px solid $yellow !important;
      }
    }
    .cursor {
      background: $yellow;
      &.active {
        background: transparent;
        border: 1px solid $yellow !important;
      }
    }
  }
  &.theme-5 {
    background: $sky-blue;
    color: $white;
    a {
      color: $white;
    }
    header.active {
      background: $sky-blue;
    }
    .tag {
      border: 1px solid $white !important;
    }
    .contact {
      .block {
        border-top: 1px solid $white !important;
        border-bottom: 1px solid $white !important;
      }
    }
    .cursor {
      background: $white;
      &.active {
        background: transparent;
        border: 1px solid $white !important;
      }
    }
  }
}

.cursor {
  //이거 없으면 a태그 호버가 안됌
  pointer-events: none;

  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: #000;
  border: none;
  border-radius: 50%;
  z-index: 500;
  transition: border .4s, background .4s, width .4s, height .4s;
  &.active {
    border: 1px solid #000;
    background: transparent;
    width: 60px;
    height: 60px;
  }
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  .menu {
    display: flex;
    gap: 1vw;
    a {
      font-family: 'mont_blanc-light';
      font-size: 14px;
    }
  }
  .btn-color {
    a {
      font-family: 'mont_blanc-light';
      font-size: 14px;
    }
  }
}
main {
  .intro {
    padding-top: 50px;
    position: relative;
    height: 100vh;
    .title {
      //font-family: 'Cormorant SC', serif;
      font-family: 'mont_blanc-regular';
      text-transform: uppercase;
      font-size: 7vw;
      line-height: 1.2;
      padding: 0 15px;
      span {
        margin-right: 0.5vw;
        &.italic {
          font-style: italic;
        }
      }
    }
    .content {
      position: absolute;
      right: 15px;
      bottom:7vw;
      width: 40vw;
      text-align: right;
    }
    .scroll {
      position: absolute;
      left: 3vw;
      bottom:3vw;
      width: 3vw;
      svg {

      }
    }
  }
  .project {
    padding-top: 10vw;
    .title {
      margin-left: 2vw;
      margin-bottom: 5vw;
      font-family: 'mont_blanc-regular';
    }
    .list {
      width: 80vw;
      .item {
        width: 47%;
        margin-left: 1%;
        margin-right: 1%;
        display: inline-block;
        margin-bottom: 4vw;
        .text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          .item_title {
            font-size: 1.5rem;
          }
          .wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            .tag {
              border: 1px solid #000;
              border-radius: 30px;
              padding: 5px 10px;
              font-size: 12px;
            }
            .date {
              font-size: 14px;
            }
          }
        }
        .photo {
          width: 100%;
          height: 30vw;
          overflow: hidden;
          filter: grayscale(1);
          transition: filter .8s;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
        &:hover .photo {
          filter: grayscale(0);
        }
      }
      &:nth-of-type(1) {
        margin-left: 1vw;
      }
      &:nth-of-type(2) {
        margin-left: 20vw;
      }
    }
  }
  .career {
    padding: 10vw 15px;
    .title {
      margin-left: 2vw;
      font-family: 'mont_blanc-regular';
    }
    .content {
      margin-bottom: 5vw;
      margin-left: 2vw;
    }
    .list {
      width: 100vw;
      .item {
        width: 23%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: inline-block;
        margin-bottom: 8vw;
        .text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
          .item_title {
            font-size: 1.5rem;
          }
          .wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            .tag {
              border: 1px solid #000;
              border-radius: 30px;
              padding: 5px 10px;
              font-size: 12px;
            }
            .date {
              font-size: 14px;
            }
          }
        }
        .photo {
          width: 100%;
          height: 20vw;
          overflow: hidden;
          filter: grayscale(1);
          transition: filter .8s;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
        &:hover .photo {
          filter: grayscale(0);
        }
      }
    }
  }
  .contact {
    padding: 0 20px;
    .title {
      font-family: 'mont_blanc-regular';
    }
    .sub-title {
      margin-bottom: 5vw;
    }
    .block {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      padding: 2vw 1vw;
      .email {
        a {
          font-size: 3vw;
        }
      }
    }
    .link-list {
      margin-top: 5vw;
      margin-bottom: 1vw;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      a {
        font-size: 14px;
      }
    }
  }
}
